.chartContainer {
  height: 3em;
  border: 3px dashed blue;
}

.imageTag {
  width: 3em;
  height: 3em;
}

.shadedImageDiv {
  float: left;
  opacity: 0.3;
}

.imageDiv {
  float: left;
}

.imageBar {
  clear: both;
}
